.ui.borderless.topmenu.menu{
  height: 70px;
  color:grey;
}

img{
  height: 70px;
}

.right.item{
  font-size: 18px;
  color: grey;
}
.item{
  font-size: 18px;

}

.large.ui.button{
  margin-top:10px;
  margin-bottom: 10px;
  padding-top:0px;
  padding-bottom: 0;
  color: #6d6f7b;

}
